package {{PACKAGE_NAME}}

import javax.inject.Inject

class {{NAME}}RepositoryImpl @Inject constructor(
    // TODO: Ajouter les dépendances nécessaires
) : {{NAME}}Repository {
    // TODO: Implémenter les méthodes
}