package {{PACKAGE_NAME}}

import androidx.compose.foundation.layout.Box
import androidx.compose.foundation.layout.fillMaxSize
import androidx.compose.runtime.Composable
import androidx.compose.runtime.LaunchedEffect
import androidx.compose.runtime.getValue
import androidx.compose.ui.Alignment
import androidx.compose.ui.Modifier
import androidx.hilt.navigation.compose.hiltViewModel
import androidx.lifecycle.compose.collectAsStateWithLifecycle
import kotlinx.coroutines.flow.collectLatest

@Composable
fun {{NAME}}Screen(
    viewModel: {{NAME}}ViewModel = hiltViewModel(),
    exitApplication: (shouldShowPopup: Boolean) -> Unit
) {
    val state by viewModel.state.collectAsStateWithLifecycle()

    LaunchedEffect(Unit) {
        viewModel.events.collectLatest {
            when (it) {
                is {{NAME}}EventFromVM.ExitApplication -> {
                    exitApplication(false)
                }
            }
        }
    }

    BaseScreen(viewModel = viewModel) {
        {{NAME}}Screen(
            state = state,
            onEvent = viewModel::onEvent
        )
    }
}

@Composable
private fun {{NAME}}Screen(
    state: {{NAME}}ScreenState,
    onEvent: ({{NAME}}Event) -> Unit
) {
    Box(modifier = Modifier.fillMaxSize(), contentAlignment = Alignment.Center) {
        Text(state.configuration?.toString() ?: "Configuration non chargé...")
    }
}

@SmarteoPreview
@Composable
private fun {{NAME}}ScreenPreview() {
    TransverseTheme {
        {{NAME}}Screen(state = {{NAME}}ScreenState(), onEvent = {})
    }
}
