package {{PACKAGE_NAME}}

sealed class {{NAME}}UiState {
    object Loading : {{NAME}}UiState()
    data class Success(val data: List<Passport>) : {{NAME}}UiState()
    data class Error(val message: String) : {{NAME}}UiState()
}