package {{PACKAGE_NAME}}

import dagger.hilt.android.lifecycle.HiltViewModel
import kotlinx.coroutines.CoroutineDispatcher
import kotlinx.coroutines.channels.Channel
import kotlinx.coroutines.flow.MutableStateFlow
import kotlinx.coroutines.flow.asStateFlow
import kotlinx.coroutines.flow.receiveAsFlow
import kotlinx.coroutines.flow.update
import javax.inject.Inject

@HiltViewModel
class {{NAME}}ViewModel @Inject constructor(
    @TaxReturnModule private val dispatcher: CoroutineDispatcher = DefaultIoDispatcher
) : BaseViewModel(ioDispatcher = dispatcher) {
    private val _state = MutableStateFlow({{NAME}}ScreenState(isLoading = true))
    val state = _state.asStateFlow()
    private val _eventChannel = Channel<{{NAME}}EventFromVM>()
    val events = _eventChannel.receiveAsFlow()

    /**
     * Méthode permettant de gérer les événements en provenance de la couche UI
     * @param event Evenement en provenance de la couche UI
     */
    fun onEvent(event: {{NAME}}Event) {
        when (event) {
            is {{NAME}}Event.ExitApplication -> onExitApplication()
        }
    }

    private fun onExitApplication() {
        _eventChannel.trySend({{NAME}}EventFromVM.ExitApplication)
    }
}
